/* div {
    border: 1px solid red;
}
main {
    border: 1px solid green;
}
section {
    border: 1px solid purple;
}
#time div.container {
    background-color: pink;
}
.image-side img {
    border: 1px solid purple; 
} */    