/* 
  Courtesy of royyandzakiy (https://github.com/royyandzakiy)
*/

@font-face {
  font-family: Cochin;
  font-style: normal;
  src: url(fonts/Cochin.ttf);
}

@font-face {
  font-family: Cochin;
  font-style: italic;
  src: url(fonts/CochinItalic.ttf);
}

:root {
  --primary-color: #A17A32;
  --secondary-color: #4E523C;
  --third-color: #889958;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F7;
  background:url(../img/Background_WebAsset.jpg) center center repeat;
  line-height: 1.6;
  color: var(--primary-color);
}

body, h1, h2, h3, h4, p {
  font-family: 'Cochin', 'Times New Roman', Times, serif;
}

/* BASIC ELEMENTS */
h2 {
  font-size: 2.5em;
  font-weight: 100;
  padding-right: .3em;
}

h3 {
  font-size: 2em;
  font-weight: 100;
}

h4 {
  font-size: 1.3em;
  font-weight: 200;
}

p {
  font-size: 1.1em;
}

.italic {
  font-style: italic;
}

.secondary-color {
  color: var(--secondary-color);
}

.third-color {
  color: var(--third-color);
}

/* CUSTOM FLEX ELEMENTS */
  .horizontal {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }

  .container {
    padding: 0 2rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

header {
  text-align: center;
}

main {
  height: 100vh;
  margin: 0 auto;
  max-width: 100vw;
  max-height: 900px;
  display: flex;
  position: relative;
  overflow: visible;
  flex-flow: column;
  justify-content: space-around;
}

section {
  display: flex;
  flex-flow: column;
  margin: auto;
  text-align: center;
  justify-content: center;
}

section#a {
  margin-top: 50px;
}

section#b {
  margin-top: 50px;
  transition: 0.4s;
}

  section#b p#wed {
    display: flex;
    opacity: 1;
  }

  section#b p#tale {
    display: flex;
    opacity: 0;
    position: relative;
    top: -27px;
  }

  section#b:hover p#wed {
    /* animation: fade reverse linear ease-in .3s; */
    opacity: 0;
  }

  section#b:hover p#tale {
    animation: fadein .7s ease-in both;
    opacity: 1;
  }

  section#b img.image-hero {
    max-height: 250px;
    opacity: 1;
  }

  section#b img.image-hero#ha {
    display: relative;
    margin-top: -250px;
    opacity: 0;
  }

  section#b img.image-hero#sr {
  }
  
  section#b:hover img.image-hero#sr {
    opacity: 0;
  }
  
  section#b:hover img.image-hero#ha {
    animation: fadein .7s ease-in both, riseup .7s ease-in both;
    opacity: 1;
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes riseup {
    from {
      margin-top: -250px;
      margin-bottom: 0px;
    }
    to {
      margin-top: -255px;
      margin-bottom: 5px;
    }
  }
  
section#c {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  transition: flyin 10s ease-in linear;
}

@keyframes flyin {
  start {top: 0px;}
  end {top: 40px;}
}

  section#c p {
    color: var(--primary-color);
  }

  section#c #separator {
    width: 0px;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
  }

  #time div.container {
    min-width: 200px;
  }

    #time div div {
      width: fit-content;
    }

    #dates {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    #dates-date {
      font-size: 1.3em;
    }

    #countdown {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      padding-top: 30px;
    }
    
    #countdown div div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    #countdown-day {
      font-size: 1.3em;
      line-height: 1em;
      height: 40px;
    }

section#d {
  margin-top: 90px;
}

  section#d #separator:before {
    content: "";
    display: block;
    width: 120px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    margin: 1em auto;
    transition: 0.4s;
  }

  section#d p.change-text span {
    position: relative;
    content:'Wedding in Progress...';
    transition: 0.4s;
  }
  
  section#d:hover #separator:before {
    width: 50px;
  }

  section#d:hover p.change-text span {
    display: none;
  }

  section#d:hover p.change-text:after {
    content: 'Website in Progress';
  }

.image-side {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 600px;
  width: fit-content;
  position: absolute;
  z-index: -1;
}
  
  .image-side {
    position: absolute;
    width: fit-content;
    display: flex;
    flex-flow: column;
  }

  .image-side#hummingbird-flower {
    left: 0px;
  }

  .image-side#albatross-beach {
    right: 0px;
  }

  .image-side img#hummingbird {
    position: relative;
    left: 0px;
  }

  .image-side img#flower {
    position: relative;
    left: 0px;
  }

  .image-side img#albatross {
    position: relative;
    right: 0px;
  }

  .image-side img#beach {
    position: relative;
    right: 0px;
  }

@media screen and (max-width: 900px) {
  /* tablet styles */
  .image-side#hummingbird-flower {
    left: 0px;
  }

  .image-side#albatross-beach {
    right: -50px;
  }

  .image-side img#hummingbird {
    position: relative;
    left: -50px;
  }

  .image-side img#flower {
    position: relative;
    left: 0px;
    width: 80%;
  }

  .image-side img#albatross {
    position: relative;
    right: 0px;
  }

  .image-side img#beach {
    position: relative;
    right: -70px;
    width: 80%;
  }
}

@media screen and (max-width: 700px) {
/* phone-big styles */
  body {
    line-height: 1.3;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.9em;
  }

  main {
    min-height: 640px;
    height: 100vh;
    overflow: hidden;
  }

    .image-side#hummingbird-flower {
      left: -150px;
    }

    .image-side#albatross-beach {
      right: -150px;
    }

    .image-side img#hummingbird {
      position: relative;
      left: 80px;
      top: -20px;
    }
  
    .image-side img#flower {
      position: relative;
      left: 100px;
      width: 65%;
    }
  
    .image-side img#albatross {
      position: relative;
      right: 60px;
      top: -20px;
      width: 90%;
    }
  
    .image-side img#beach {
      position: relative;  
      right: 0px;
      width: 70%;
    }

    section#b img.image-hero {
      max-height: 250px;
      height: auto;
      width: 300px;
    }

  section#c {
    align-items: center;
  }

    section#c #separator {
      display: none;
      margin: 25px;
      width: 100px;
      background-color: var(--secondary-color);
    }

    section #countdown {
      margin-top: 20px;
    }

  section#c {
    flex-direction: column;
    justify-content: center;
  }

  section#d {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  /* phone styles */
  .image-side#hummingbird-flower {
    left: -200px;
  }

  .image-side#albatross-beach {
    right: -200px;
  }

  .image-side img#hummingbird {
    position: relative;
    left: 80px;
    top: -70px;
  }

  .image-side img#flower {
    position: relative;
    left: 150px;
    width: 50%;
  }

  .image-side img#albatross {
    position: relative;
    right: 40px;
    top: -130px;
    width: 70%;
  }

  .image-side img#beach {
    position: relative;
    right: 0px;
    width: 50%;
  }
}

@media screen and (max-width: 350px) {
  /* small screen styles */
  /* hide images */
  .image-side {
    display: none;
  } 
}