@font-face {
  font-family: Cochin;
  font-style: normal;
  src: url(fonts/Cochin.ttf);
}

@font-face {
  font-family: Cochin;
  font-style: italic;
  src: url(fonts/CochinItalic.ttf);
}

:root {
  --primary-color: #9E7D33;
  --secondary-color: #4E523C;
  --third-color: #8F9F62;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F7;
  background:url(../img/Background_WebAsset.jpg) center center repeat;
  /* min-height: 100vh; */
  line-height: 1.6;
  color: var(--primary-color);
}

body, h1, h2, h3, h4, p {
  font-family: 'Cochin';
}

/* Custom Flex Elements */

div {
  /* border: 1px solid red; */
}

  .horizontal {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }

  .container {
    padding: 0 2rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

header {
  text-align: center;
}

main {
  /* border: 1px solid green; */
  height: 100vh;
  max-width: 700px;
  max-height: 900px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

section {
  /* border: 1px solid purple; */
  display: flex;
  flex-flow: column;
  margin: auto;
  text-align: center;
  justify-content: center;
}

section#a {
  margin-top: 50px;
}

section#b {
  margin-top: 50px;
}

  section#b img.image-hero {
    max-height: 250px;
    height: auto;
    width: auto;
  }

section#c {
  margin-top: 4em;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
}

  section#c #separator {
    width: 0px;
    border: 1px solid var(--secondary-color);
  }

  #time div.container {
    min-width: 200px;
    /* background-color: pink; */
  }

    #time div div {
      width: fit-content;
    }

    #dates {
      display: flex;
      flex-flow: column;
      align-items: center;
      /* border: 1px solid blue; */
    }

    #dates-date {
      font-size: 1.3em;
    }

    #countdown {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
    }

    #countdown div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #countdown-day {
      font-size: 1.3em;
    }

section#d {
  margin-top: 90px;
}

  section#d #separator:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid var(--primary-color);
    margin: 1em auto;
  }

  /* main:hover section#d #separator:before {
    width: 50px;
  } */

  section#d p.change-text span {
    content:'Wedding in Progress...'
  }

  /* main:hover section#d p.change-text span {
    display: none;
  }

  main:hover section#d p.change-text:after {
    content: "Website in Progress...";
  } */

#hummingbird-flower {
  /* position: fixed;
  margin-left: -150px; */
  position: absolute;
  left: 0px;
  z-index: -1;
}

#albatross-beach {
  /* position: fixed;
  margin-left: 400px; */
  position: absolute;
  right: 0px;
  z-index: -2;
}

/* BASIC ELEMENTS */
    h1 {}

    h2 {
      font-size: 2.5em;
      font-weight: 100;
      padding-right: .3em;
    }

    h3 {
      font-size: 2em;
      font-weight: 100;
    }

    h4 {
      font-size: 1.3em;
      font-weight: 200;
    }

    p {
      font-size: 1.1em;
    }

    .italic {
      font-style: italic;
    }

    .secondary-color {
      color: var(--secondary-color);
    }

    .third-color {
      color: var(--third-color);
    }

@media (max-width: 700px) {
  .section .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section .container div:first-child {
    order: 2;
  }

  .section .container div:nth-child(2) {
    order: -1;
  }

  .section img {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}

@media screen and (max-width: 400px) {
/* start of phone styles */
  body {
    line-height: 1.3;
  }

  h2 {
    
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.9em;
  }

  main {
    min-height: 640px;
  }

  img.image-side {
    display: none;
  }

  section#b {
    /* display: none; */
  }

    section#b img.image-hero {
      /* display: none; */
      max-height: 250px;
      height: auto;
      width: 300px;
    }

  section#c {
    align-items: center;
  }

    section#c #separator {
      display: none;
      margin: 25px;
      width: 100px;
    }

    section #countdown {
      margin-top: 20px;
    }

  section#c {
    flex-direction: column;
    justify-content: center;
  }


  section#d {
    margin-top: 20px;
  }
}