@font-face {
  font-family: Cochin;
  font-style: normal;
  src: url(fonts/Cochin.ttf);
}

@font-face {
  font-family: Cochin;
  font-style: italic;
  src: url(fonts/CochinItalic.ttf);
}

:root {
  --primary-color: #9E7D33;
  --secondary-color: #4E523C;
  --third-color: #8F9F62;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9F9F7;
  background:url(../img/Background_WebAsset.jpg) center center repeat;
  min-height: 100vh;
  line-height: 1.6;
  color: var(--primary-color);
}

body, h1, h2, h3, h4, p {
  font-family: 'Cochin';
}

/* Custom Flex Elements */

div {
  /* border: 1px solid red; */
}

  div.line-v {
    border-right: 2px solid var(--secondary-color);
  }

  div.line-h:before {
    content: "";
    display: block;
    width: 120px;
    border: 2px solid var(--primary-color);
    margin: 1em auto;
  }

  /* main:hover div.line-h:before {
    width: 50px;
  } */

  .horizontal {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
  }

  .container {
    max-width: 700px;
    padding: 0 2rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }

header {
  text-align: center;
}

main {
  /* border: 1px solid green; */
  max-width: 700px;
  max-height: 900px;
  display: flex;
  flex-flow: column wrap;
}

section {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
}

section#a {
  margin-top: 50px;
}

section#b {
  margin-top: 50px;
}

section#c {
  margin-top: 4em;
}

  #time div.container {
    min-width: 200px;
    /* background-color: pink; */
  }

  #time div div {
    width: fit-content;
  }

    #dates {
      display: flex;
      flex-flow: column;
      align-items: center;
      /* border: 1px solid blue; */
    }

    #dates-date {
      font-size: 1.3em;
    }

    #countdown {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    #countdown div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #countdown-day {
      font-size: 1.3em;
    }

section#d {
  margin-top: 90px;
}

  section#d p.change-text span {
    content:'Wedding in Progress...'
  }

  /* main:hover section#d p.change-text span {
    display: none;
  }

  main:hover section#d p.change-text:after {
    content: "Website in Progress...";
  } */

#hummingbird-flower {
  position: fixed;
  margin-left: -150px;
  z-index: -1;
}

#albatross-beach {
  position: fixed;
  margin-left: 400px;
  z-index: -2;
}

/* BASIC ELEMENTS */
    h1 {}

    h2 {
      font-size: 2.5em;
      font-weight: 100;
      padding-right: .3em;
    }

    h3 {
      font-size: 2em;
      font-weight: 100;
    }

    h4 {
      font-size: 1.3em;
      font-weight: 200;
    }

    p {
      font-size: 1.1em;
    }

    .italic {
      font-style: italic;
    }

    .secondary-color {
      color: var(--secondary-color);
    }

    .third-color {
      color: var(--third-color);
    }

@media (max-width: 700px) {
  .section .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section .container div:first-child {
    order: 2;
  }

  .section .container div:nth-child(2) {
    order: -1;
  }

  .section img {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 991px) {
  /* start of large tablet styles */
  
}

@media screen and (max-width: 767px) {
/* start of medium tablet styles */

}

@media screen and (max-width: 479px) {
/* start of phone styles */

}